<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cathay Compagnie</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Core CSS -->
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->

    <link rel="icon" type="image/x-icon" href="{{ asset('cathay-icon.ico') }}" />
</head>

<body class="homepage">

<header id="header">
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/cathay-logo.png') }}" alt="logo cathay compagnie"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Univers produits <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('electric_universe') }}">Electrique</a></li>
                            <li><a href="{{ path('fest_universe') }}">Fête</a></li>
                            <li><a href="{{ path('paper_universe') }}">Papeterie</a></li>
                            <li><a href="{{ path('toys_universe') }}">Jouets</a></li>
                            <li><a href="{{ path('comfort_universe') }}">Bien-être</a></li>
                            <li><a href="{{ path('tools_universe') }}">Bricolage</a></li>
                            <li><a href="{{ path('haberdashery_universe') }}">Mercerie</a></li>
                            <li><a href="{{ path('bazar_universe') }}">Bazar</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                    <li><a href="{{ path('order') }}">Commander en ligne</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block body %}
{% endblock %}

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 mg-t-15">
                <div class="widget">
                    <h3>La Société</h3>
                    <ul>
                        <li><a href="{{ path('commercial_conditions') }}">Conditions commerciales</a></li>
                        <li><a href="{{ path('legal_notice') }}">Mentions légales</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 mg-t-15">
                <div class="widget">
                    <h3>Nos univers</h3>
                    <ul>
                        <li><a href="{{ path('electric_universe') }}">Electrique</a></li>
                        <li><a href="{{ path('fest_universe') }}">Fête</a></li>
                        <li><a href="{{ path('paper_universe') }}">Papeterie</a></li>
                        <li><a href="{{ path('toys_universe') }}">Jouets</a></li>
                        <li><a href="{{ path('comfort_universe') }}">Bien-être</a></li>
                        <li><a href="{{ path('tools_universe') }}">Bricolage</a></li>
                        <li><a href="{{ path('haberdashery_universe') }}">Mercerie</a></li>
                        <li><a href="{{ path('bazar_universe') }}">Bazar</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 mg-t-15">
                <div class="widget">
                    <h3>Contact</h3>
                    <ul>
                        <p> 23, Quai Lucien Lefranc <br/>
                            93300 AUBERVILLIERS
                        </p>
                        <p><span class="glyphicon glyphicon-phone-alt"></span> 01 48 11 98 18</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> public@cathay-compagnie.fr</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; {{ "now"|date("Y") }} Cathay Compagnie - Tous droits réservés.
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/wow.min.js') }}"></script>
</body>
</html>