{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <img class="img-responsive" src="{{ asset('images/universe/comfort/rayon-bien-etre.jpg') }}" alt="rayon bien être">
                </div>

                <div class="col-sm-4 col-md-4">
                    <h1 class="color-black">Bien être</h1>
                    <p>Eo adducta re per Isauriam, rege Persarum bellis finitimis inligato repellenteque a conlimitiis suis ferocissimas gentes.</p>
                </div>
            </div>

            <div class="row mg-t-50">
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/comfort/CT135922.jpg') }}">
                            <img src="{{ asset('images/universe/comfort/CT135922.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3 class="text-center">Epingles à chignon</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/comfort/CT135924.jpg') }}">
                            <img src="{{ asset('images/universe/comfort/CT135924.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3 class="text-center">Peignes afro</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/comfort/CT136819.jpg') }}">
                            <img src="{{ asset('images/universe/comfort/CT136819.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3 class="text-center">Peigne de poche</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/comfort/CT137045.jpg') }}">
                            <img src="{{ asset('images/universe/comfort/CT137045.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3 class="text-center">Lime à ongles</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/comfort/CT137068.jpg') }}">
                            <img src="{{ asset('images/universe/comfort/CT137068.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3 class="text-center">Kit de voyage</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/comfort/CT136901bte.jpg') }}">
                            <img src="{{ asset('images/universe/comfort/CT136901bte.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3 class="text-center">Brosses à dents</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/comfort/CT137030bl.jpg') }}">
                            <img src="{{ asset('images/universe/comfort/CT137030bl.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3 class="text-center">Peigne coupe cheveux</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/comfort/CT136821bl.jpg') }}">
                            <img src="{{ asset('images/universe/comfort/CT136821bl.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3 class="text-center">Peigne à poux</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mg-t-50">
                <div class="col-md-12">
                    <div class="well well-sm color-white background-custom-black">Venez en voir d'avantage sur place</div>
                </div>
            </div>

        </div>
    </section>


{% endblock %}