{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <img class="img-responsive" src="{{ asset('images/universe/haberdashery/rayon-mercerie.jpg') }}" alt="rayon mercerie">
                </div>

                <div class="col-sm-4 col-md-4">
                    <h1 class="color-black">Mercerie</h1>
                    <p>Eo adducta re per Isauriam, rege Persarum bellis finitimis inligato repellenteque a conlimitiis suis ferocissimas gentes.</p>
                </div>
            </div>

            <div class="row mg-t-50">
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/haberdashery/CT137136a.jpg') }}">
                            <img src="{{ asset('images/universe/haberdashery/CT137136a.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3>Titre produit</h3>
                            <p>Description produit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/haberdashery/CT137136n.jpg') }}">
                            <img src="{{ asset('images/universe/haberdashery/CT137136n.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3>Titre produit</h3>
                            <p>Description produit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/haberdashery/CT137137.jpg') }}">
                            <img src="{{ asset('images/universe/haberdashery/CT137137.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3>Titre produit</h3>
                            <p>Description produit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/haberdashery/CT137140.jpg') }}">
                            <img src="{{ asset('images/universe/haberdashery/CT137140.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3>Titre produit</h3>
                            <p>Description produit</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/haberdashery/CT137142.jpg') }}">
                            <img src="{{ asset('images/universe/haberdashery/CT137142.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3>Titre produit</h3>
                            <p>Description produit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/haberdashery/CT137143.jpg') }}">
                            <img src="{{ asset('images/universe/haberdashery/CT137143.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3>Titre produit</h3>
                            <p>Description produit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/haberdashery/CT137145.jpg') }}">
                            <img src="{{ asset('images/universe/haberdashery/CT137145.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3>Titre produit</h3>
                            <p>Description produit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mg-t-15">
                    <div class="thumbnail">
                        <a href="{{ asset('images/universe/haberdashery/CT137141.jpg') }}">
                            <img src="{{ asset('images/universe/haberdashery/CT137141.jpg') }}" alt="...">
                        </a>
                        <div class="caption">
                            <h3>Titre produit</h3>
                            <p>Description produit</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mg-t-50">
                <div class="col-md-12">
                    <div class="well well-sm color-white background-custom-black">Venez en voir d'avantage sur place</div>
                </div>
            </div>

        </div>
    </section>


{% endblock %}