{% extends('layout/layout.html.twig') %}

{% block body %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({{ asset('images/slider/bg1.jpg') }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-4">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Bienvenue chez Cathay Compagnie</h1>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url({{ asset('images/slider/bg2.jpg') }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">

                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url({{ asset('images/slider/bg3.jpg') }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section>

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Univers produits</h2>
                <p class="lead">Découvrez notre large catalogue de produits</p>
            </div>

            <div class="row text-center">
                <a href="{{ path('electronic_universe') }}">
                    <div class="col-xs-6 col-sm-4 col-md-3 blackbox pd-0">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ asset('images/universe/item1.jpg') }}" alt="image univers électronique">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 class="products-title">Electronique</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ path('fest_universe') }}">
                    <div class="col-xs-6 col-sm-4 col-md-3 blackbox pd-0">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ asset('images/universe/item2.jpg') }}" alt="image univers fête">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 class="products-title">Fête</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ path('paper_universe') }}">
                    <div class="col-xs-6 col-sm-4 col-md-3 blackbox pd-0">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ asset('images/universe/item3.jpg') }}" alt="image univers papeterie">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 class="products-title">Papeterie</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ path('toy_universe') }}">
                    <div class="col-xs-6 col-sm-4 col-md-3 blackbox pd-0">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ asset('images/universe/item4.jpg') }}" alt="image univers jouets">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 class="products-title">Jouets</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ path('comfort_universe') }}">
                    <div class="col-xs-6 col-sm-4 col-md-3 blackbox pd-0">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ asset('images/universe/item5.jpg') }}" alt="image univers bien-être">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 class="products-title">Bien-être</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ path('tools_universe') }}">
                    <div class="col-xs-6 col-sm-4 col-md-3 blackbox pd-0">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ asset('images/universe/item6.jpg') }}" alt="image univers outillage">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 class="products-title">Outillage</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ path('haberdashery_universe') }}">
                    <div class="col-xs-6 col-sm-4 col-md-3 blackbox pd-0">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ asset('images/universe/item7.jpg') }}" alt="image univers mercerie">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 class="products-title">Mercerie</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ path('bazar_universe') }}">
                    <div class="col-xs-6 col-sm-4 col-md-3 blackbox pd-0">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ asset('images/universe/item8.jpg') }}" alt="image univers bazar">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3 class="products-title">Etc...</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}